.topNavContainer {
  box-sizing: border-box;
  margin: auto;
  padding: 0 5%;
  position: fixed;
  height: calc(2em + 10px);
  width: 100%;
  z-index: 5;
}

.topNav {
  box-sizing: border-box;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.topNav.white .navItem  {
  color: white;
}

.topNav .navItem {
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.navItem.highlight {
  font-weight: bold;
  text-decoration: underline;
}